.task-create-title{
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
}
.task-create-form{
  align-items: center;
  text-align: center;
  color: var(--second-color);
}


.task-difficult-select{
  appearance: none;
  margin-right: 10px;
  width: 60px;
  height: 50px;
  background-color: var(--sub-color);
  border: none !important;
  text-align: center;
  outline: none;
  border-radius: 6px;
  color: var(--first-color);
  font-size: 17px;
  font-weight: 600;
  transition: box-shadow 0.13s linear; 
}
.task-difficult-select:focus{
  box-shadow: 0px 0px 15px black;
}

.task-name-select{
  background: none;
  width: 100%;
  height: 50px;
  border: none;
  appearance: none;
  outline: none;
  color: var(--second-color);
  transition: box-shadow 0.13s linear; 
  caret-color: transparent;
  background-color: var(--sub-color);
  border-radius: 8px;
  padding-left: 10px;
  font-size: 16px;
}
.task-name-select:focus{
  box-shadow: 0px 0px 15px black;
}

.task-description{
  margin-top: 10px;
  overflow: hidden;
  outline: none;
  margin: 10px auto;
  width: 100%;
  height: 200px;
  border-radius: 8px;
  background-color: var(--sub-color);
  color: var(--second-color);
  padding: 10px;
  border: none !important;
  font-size: 16px;
  resize: vertical;
  transition: box-shadow 0.13s linear; 
  margin-bottom: 20px;
}

.task-description:focus{
  box-shadow: 0px 0px 15px black;
}





.input-file {
	width: 100%;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.input-file-text {
	padding: 0 10px;
  text-align: left;
	height: 50px;
	width: 100%;
  color: var(--first-color);
  font-size: 16px;
  background-color:var(--sub-color);
  border-radius: 8px;
  padding-top: 13px;
  opacity: 0.8;
} 
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 


@media (min-width: 1024px){
  .task-difficult-select{
    font-size: 20px;
    width: 72px;
    height: 60px;
  }
  .task-create-form label{
    font-size: 20px;
  }
  .task-name-select{
    font-size: 20px;
    height: 60px;
  }
  .input-file-text{
    height: 60px;
    padding-top: 18px;
    font-size: 18px;
  }
}