*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;

  color: var(--second-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-color: #222831;
  --sub-color: #393E46;
  --first-color: #FFD369;
  --second-color: #EEEEEE;
}
h1{
  margin: 50px 0;
}

footer{
  width: 100%;
  height: 100px;
  background-color: var(--sub-color);
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-top: 20px;
  color: var(--second-color);
  opacity: 0.5;
  font-size: 14px;
}
.crabLogo{
  margin: 80px auto;
  max-height: 400px;
}

form{
  max-width: 768px;
  margin: 0 auto;
  text-align: left;
  font-weight: 600;
  padding: 0 10px;
}
.main__container{
  max-width: 768px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 120px;
}
.input{
  border: none;
  outline: none;
  border-radius: 15px;
  height: 50px;
  background-color: var(--sub-color);
  width: 100%;
  padding-left: 20px;
  margin: 5px 0 10px 0;
  color: var(--second-color);
  font-size: 16px;
  transition: box-shadow 0.13s linear;
  transition: border 0.14s linear;
  caret-color: transparent;
}
.input:hover{
  box-shadow: inset 0px 0px 15px var(--bg-color);
}
.input:active{
  box-shadow: inset 0px 0px 15px var(--bg-color);
}

.button{
  border: none;
  border-radius: 15px;
  height: 50px;
  margin-top: 5px;
  background-color: var(--first-color);
  width: 100%;
  color: var(--bg-color);
  font-size: 18px;
  font-weight: 600;
  transition: box-shadow 0.13s linear;
}

.button:hover{
  box-shadow: 0px 0px 15px var(--first-color);
}
.button:active{
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}


.wrong_code{
  margin: 5px 0px 25px;
  color: #E43A25;
  display: none;
  transition: display 0.13s linear;
}


body {
  margin: 81px 0;
}


.header {
  background-color: var(--sub-color);
  color: var(--second-color);
  font-weight: 600;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 15px;
  z-index: 100;
  box-sizing: content-box;
}

a:focus, a:active {
  outline: none;
}

a, a:visited {
  text-decoration-color: rgba(0, 0, 0, 0);
}

a:hover {
  text-decoration-color: inherit;
}

a {
  color: var(--main-color);
  transition: text-decoration-color .3s;
}



@media (min-width: 1024px) {
  .button{
    height: 65px;
    font-size: 20px;
    border-radius: 20px;
  }
  .input{
    height: 65px;
    font-size: 20px;
    border-radius: 20px;
  }
  h1{
    margin: 60px 0;
  }
}
